{% load static %}

    <section id="clients" class="clients section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Clients</h2>
        <p>
          Nous accompagnons des entreprises de toutes tailles, issues de secteurs variés, dans leur mise en conformité avec le RGPD et la protection des données.  
          Notre engagement : proposer des solutions juridiques claires, efficaces et adaptées aux réalités terrain, pour renforcer la confiance et la transparence avec leurs clients et partenaires.
        </p>
      </div><!-- End Section Title -->
    
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0 clients-wrap">
          {% for client in clients %}
          <div class="col-xl-3 col-md-4">
            <div class="client-logo">
              <img src="{{ client.logo.url }}" class="img-fluid" alt="{{ client.nom }}">
              <!-- Nom du client qui apparaîtra au survol -->
              <h4>{{ client.nom }}</h4>
            </div>
          </div><!-- End Client Item -->
          {% endfor %}
        </div>
      </div>
    </section><!-- /Clients Section -->
    
